<mat-toolbar color="primary" class="mat-elevation-z8" style="position: fixed; z-index: 100;">
  <button  mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Qaliwarma</span>
  <span class="example-spacer"></span>
  <div *ngIf="seRegistro" style="margin-left: 85%;">
    <a
    (click)="CerrarSesion()"
    class="mb-3 m-auto" 
    style="height: 15%; width: 15%; color: white;" 
    type="button">
      Log out
  </a>
  </div>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/hello/ayuda']" *ngIf="seRegistro"> 
    <mat-icon>favorite</mat-icon>
    <span>Ayuda</span>
  </button>
  <button mat-menu-item [routerLink]="['/hello/producto']" *ngIf="seRegistro">
    <mat-icon>style</mat-icon>
    <span>Producto</span>
  </button>
  <button mat-menu-item [routerLink]="['/hello/institucion']" *ngIf="seRegistro">
    <mat-icon>business</mat-icon>
    <span>Institucion</span>
  </button>
</mat-menu>
<div *ngIf="!seRegistro">
  <app-login (seRegistro)="registroExitoso($event)" [usuario]="usuario"></app-login>
</div>
<div *ngIf="seRegistro">
  <router-outlet ></router-outlet>
</div>