<mat-toolbar color="primary" *ngIf="!form" style="padding-top: 120px;-webkit-box-shadow: inset 0px 32px 41px 0px rgba(0,0,0,0.23);
-moz-box-shadow: inset 0px 32px 41px 0px rgba(0,0,0,0.23);
box-shadow: inset 0px 32px 41px 0px rgba(0,0,0,0.23);">
  <span style="margin-top: -55px; padding-left: 45%;">Productos</span>
</mat-toolbar>
<div class="container m-auto">
    <!---Buscar-->
    <div class="card mt-3 p-4 mat-elevation-z8" style="background-color:#303030; color: white;">
       <app-buscar-producto (propagar)="Buscar($event)"></app-buscar-producto>
    </div>
    <!--Tabla-->
    <div class="card mt-3 p-4 mat-elevation-z8" style="background-color:#303030; color: white;">
      <div class="" style="text-align: end;">
        <button mat-raised-button *ngIf="!form && usuario!=null && (usuario.roles[0].authority=='ROLE_EMPLEADO' || usuario.roles[0].authority=='ROLE_ADMIN')" [routerLink]="['/hello/form/producto']" color="primary" class="mb-3 m-auto" style="height: 15%; width: 15%;" type="button">
            <a>Nuevo Producto</a>
        </button>
      </div>
      <div>
        <app-tabla-producto
        *ngIf="!form"
        [nombre]="nombre"
        [marca]="marca"
        [tipo]="tipo"
        [porcionPorPersona]="porcionPorPersona"
        [precioEspecificacion]="precioEspecificacion"
        [precio]="precio"
        [stockEspecificacion]="stockEspecificacion"
        [stock]="stock"
        ></app-tabla-producto>

        <app-tabla-producto2
        *ngIf="form"
        [nombre]="nombre"
        [marca]="marca"
        [tipo]="tipo"
        [porcionPorPersona]="porcionPorPersona"
        [precioEspecificacion]="precioEspecificacion"
        [precio]="precio"
        [stockEspecificacion]="stockEspecificacion"
        [stock]="stock"
        ></app-tabla-producto2>
    </div>
</div>